@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title.</h3>

<address>
    <strong>e-mail:</strong>   <a href="mailto:Ruslan.Lytvynov@gmail.com">Ruslan.Lytvynov@gmail.com</a><br />
    <abbr title="Phone">Phone : </abbr>+38(099)779 14 70
</address>
