@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>this app</h2>
    <p class="lead">The purpose of writing this application was to study the development of web applications.
                    The application is built in conjunction with the identification system with Microsoft, 
                    and the library of open source library that provides drag’n’drop file uploads.           
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Asp.Net-Identity</h3>
        <p>
            <a href="http://www.asp.net/identity/overview/getting-started/introduction-to-aspnet-identity" class="btn btn-primary btn-lg">
                Introduction &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Drag’n’Drop file</h3>
        <p>
            <a href="http://www.dropzonejs.com/" class="btn btn-primary btn-lg">
                DropzoneJS &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Sours code</h3>
        <p>
            <a href="https://github.com/Run-L/FileTransferMonitor" class="btn btn-primary btn-lg">
                Git Hub &raquo;
            </a>
        </p>
    </div>
</div>